// COLORS
$section-bg: rgb(20, 70, 112);
$section-dark-color: #00233f;

$background-main-color: #f6f6f6;

$dark-gold: rgba(218, 195, 144, 0.94);
$dark-blue: #03587f;
$blue: #5d8ba6;
$error: #ff0000ff;

$blackArrowColor: #5e5971;
$redArrowColor: #d16e81;

